<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-duration="500ms">
          <h2>
            ABOUT MONARCHY
          </h2>
          <p>
            Monarchy is a ruby gem offering a complete solution to manage an authorization
            access in Ruby on Rails applications. A hierarchical structure as well as built-in roles
            inheritance options make it the most powerful tool to control access to application data resources.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <img src="images/butterfly.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
