<section id="examples" class="works">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">Real case Examples</h1>
      <div class="wow fadeInDown" data-wow-delay=".5s">
        <h1 class="lead">COMING SOON</h1>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
            <span class="sr-only">75% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
