<footer id="footer">
  <div class="container">
    <div class="col-md-8">
      <p class="copyright">
        <i class="ion-code" alt="Code"></i> with <a href="https://atom.io" target="_blank"><img src="{{rootUrl}}images/atom.png" alt="Atom"></a>
        by <a href="http://macsour.com">Maciej Kwaśniak</a>
      </p>
      <ul class="social">
        <li>
          <a href="https://github.com/Exelord" class="Github" target="_blank">
            <i class="ion-social-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TheMacsour" class="Twitter" target="_blank">
            <i class="ion-social-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://pl.linkedin.com/in/macsour" class="Linkedin" target="_blank">
            <i class="ion-social-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
