<section id="concept">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">The Concept</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        The real challenge was to turn our resource accessibility ideas into a functional solution.
        <br>
        The design process led us to arrive at what we called Monarchy - the concept which encompasses...
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-barcode-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Inherited roles</h4>
            <p>
              An advanced roles inheritance system with customizable behaviors enables to control user permissions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-locked-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Access control</h4>
            <p>
              Monarchy automatically scopes user access to specific resources based on the roles and relations involved.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-social-buffer-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Hierarchical structure</h4>
            <p>
              A built-in hierarchical structure enables the database to process and return the data in an efficient way.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-book-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Instructive documentation</h4>
            <p>
              Well-written documentation with API and code examples helps developers clearly see the available capabilities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-settings"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Customizable behaviour</h4>
            <p>
              Customizable access strategies and inheritance options allow to modify default behavior patterns.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-speedometer-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Quality and reliability</h4>
            <p>
              Optimized graph algorithms as well as well-tested code are the key factors behind Monarchy automation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
