<section id="concept">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">The Concept</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        The real challenge was to develop our ideas into the functional concept.
        <br>A lot of edge cases which show up during the process created what we call Monarchy...
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-barcode-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Inherited roles</h4>
            <p>Advanced roles inheritance system with customizable behaviors allow controlling users permissions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-locked-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Access control</h4>
            <p>Automatically scope user access to specific resources based on roles and relations.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-social-buffer-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Hierarchical structure</h4>
            <p>Built-in hierarchical structure allows a database to return the data with an efficient way.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-book-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Well documented</h4>
            <p>Well written documentation with all API options to keep an eye on possibilities.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-settings"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Customizable</h4>
            <p>Different roles strategies and customizable access options allow modifying defaults behaviors.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-speedometer-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Fast & reliable</h4>
            <p>Optimized tree algorithms and well tested code are the key point of Monarchy automation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
