<section id="documentation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT DO YOU THINK ?</h2>
          <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
            Let's test it out, the latest version of Monarchy and take a look at API documentation.
          </p>
          <a href="https://github.com/Exelord/Monarchy/tree/master/docs" class="btn btn-default btn-contact wow animated fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
            <img src="{{rootUrl}}images/butterfly.png" alt="Monarchy">
            Documentation
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
