<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeIn" data-wow-delay=".3s">
          <section class="cd-intro">
            <img src="images/monarchy-white.png" alt="" width="100%">
          </section>

          <a class="btn-lines dark light wow animated pulse infinite btn btn-default btn-green" data-wow-delay=".9s" href="https://github.com/Exelord/Monarchy">
            <span class="icon ion-social-github" />View on Github
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
